{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>User Registration</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <!-- register.html -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

      </div>
     
      </div> -->
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
